*.o
testexe
*.so
*.outfile
*.log
*.swp
*.bk
mark_writable
zero_out_file_part/zero_out_file_part
example_app/example_app
offset_and_size/out.*
*.S
example_app/debug_bytes_at_sym
example_app/debug_bytes_to_copy_back
prep_basicmath/prep_basicmath
debug_bytes_*
basicmath/basicmath_large
basicmath/basicmath_small
libc_name_size.out
dump.*
example_app/lib_bytes
example_app/orig_bytes
example_app/pin_bytes
example_app/insert_pin_bytes
example_app/libs
outch
*.objdump
gdb.txt
output_small.corners.pgm
output_small.edges.pgm
output_small.smoothing.pgm
susan/susan
susan/output*.pgm
basicmath/libs
dbg_results
susan/pri-sus/build.out
susan/pri-sus/input_large.pgm
susan/pri-sus/output_large.smoothing.pgm
susan/pri-sus/run.out
susan/pri-sus/runme_small_mine.sh
raw-except-pov-namd-bzip-empty-probe-times/
raw-lazy-nopred-noblank-times/
outch.times
filter-v2-results
mibench
#spec2006
trace.counts
nontrace.printf.out
ldd.out
spec2006/Wopin/4*
spec2006/Wopin_ref/4*
v4-probe-empty-ref/
raw-ref
483.xalancbmk_results.full
xalancbmk_results.full
v3-results
v4-libgcc-results/cat_times.sh
v4-libgcc-results/parse_time.py
libc/objdump.out
libm/objdump.out
libgcc/objdump.out
libstdcpp/objdump.out
mess-omnetpp
plotting/*.png
nginx/bin
nginx/prediction-early-attempts-backup/
nginx/prediction/env
nginx/prediction/runme/notused-parsePinTrace
overhead-breakdown/no-lazy-no-full-call-chain-loading/*/482.sphinx_results.full
nginx/inputs/big.txt
a.out
raw-bytes-libfoo
test-memcpyset-overhead/objdump.txt*
